.footer{
  background-image: url("https://krot.info/uploads/posts/2020-01/1580241678_17-p-foni-s-rabotami-68.jpg");
  margin-top: 25px;

}
.footer .container {

  padding: 0px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.first {
  margin-left: 45px;
  flex: 1;

}

.second {
  flex: 1;
  text-align: center;
}


.third {
  flex: 1;
}
.footer .copyright {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 13px;
}
.list {
  list-style: none;
  text-align: center;
  font-size: 12px;
}

h4 , p , li {
  color: skyblue;

}
