<div>

  <h2>Category products</h2>

  <div *ngFor="let product of products ">


    <div class="polaroid">
      <img src="{{product.image}}" width="225" height="150">

      <div class="container">
        <h3 style="font-size: 25px;">
          <a routerLink="/products/{{product.id}}" [title]="product.name + ' details'">
            {{ product.name }}
          </a>
        </h3>
        <p *ngIf="product.description" style="font-size: 25px;"  >
          Description :  {{ product.description }}

        </p>

        <p *ngIf="product.price" style="font-size: 25px;">
          Price : {{ product.price | currency }}
        </p>

      </div>
    </div>




  </div>
</div>
