.main {
  display:flex;
}

.row {
  display: flex;
  margin-top: 15px;

  background-image: url("https://img.macg.co/2017/5/macgpic-1494403529-3825309659964-co1-jpt.jpg");
  min-height: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex: 50%;
  padding: 10px;
}

.side {
  flex: 15%;
}

.content {
  flex: 85%;
}
nav{
  font-size: xx-large;
}
